<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="#">SCAPIC ASSIGNMENT</a>
		</div>
	</div>
</div>

<div class="container">
	<a href="/auth/facebook"><input class="btn btn-primary" type="submit" value="Continue with Facebook" style="width:20%"></a>
	<br><br>
	<a href="/auth/google"><input class="btn btn-primary" type="submit" value="Continue with Google" style="width:20%"></a>
	<br><br>

	<form method="post" action="/login">
		<h1><small>Login/Signup</small></h1>
		Email: <input type="email" name="username" style="margin-left:25px"/><br/>
		Password: <input type="password" name="password"/><br/>
		<input class="btn btn-primary" type="submit" value="Login or Register" style="width:20%">
	</form>

</div>
